.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-image: url("../../../public/images/happy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
}

.message {
    font-size: 2.5rem;
    color: black;
    text-align: center;
    padding: 1rem;
}