.initialBackground {
    height: 100%;
    background: linear-gradient(-45deg, #ffafbd, #ffc3a0, #ffafbd, #ffc3a0);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

.content {
    width: 100%;
    height: 100%;
    color: black;
}